cloud_name        = "openstack"
vm_name           = "jumpbox"
image_name        = "rhel9"
flavor_name       = "m1.medium"
network_name      = "your-network"
availability_zone = "nova"
floating_ip_pool  = ""
baremetal_user    = "baremetal"
ssh_public_key    = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAB... user@host"

security_groups = [
  "default",
  "ssh-access"
]

packages = [
  "mtr"
]
